@model SD_340_W22SD_Final_Project_Group6.Models.ViewModel.TicketEditVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Body" class="control-label"></label>
                <input asp-for="Ticket.Body" class="form-control" />
                <span asp-validation-for="Ticket.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.RequiredHours" class="control-label"></label>
                <input asp-for="Ticket.RequiredHours" class="form-control" />
                <span asp-validation-for="Ticket.RequiredHours" class="text-danger"></span>
            </div>
            <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.Owner)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Ticket.Owner</td>
        </tr>
    </tbody>
</table>
                <div class="form-group">
                    <input type="hidden" value=@Model.Id name="ticketId" />
                    <label asp-for="Ticket.Owner" class="control-label">Select Users:</label>
                    <select name="userId"  asp-for="Ticket.Owner" asp-items=@Model.Users></select>
                    <span asp-validation-for="Ticket.Owner" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Projects">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
