@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="text-align: center; margin-top: 3rem">
    <img src="https://img.freepik.com/premium-vector/jelly-character-doing-stop-gesture_152558-72038.jpg?w=2000" height="200" width="200"/>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You're not allowed to access this page. Contact admin@jello.com</p>
    <p class ="text-danger">Admin Jello is that you? Go to Admin page.</p>
</header>
