@model JelloTicket.BusinessLayer.ViewModels.TicketCreateVM
@using JelloTicket.DataLayer.Models


@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ticket for @Model.project.ProjectName</h4>
<hr />
<div class="row">
	<div>
		<form asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>


			<div class="form-group">
				<label asp-for="ticket.Title" class="control-label"></label>
				<input asp-for="ticket.Title" class="form-control" />
				<span asp-validation-for="ticket.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ticket.Body" class="control-label"></label>
				<textarea asp-for="ticket.Body" id="mytextarea" required="required">Enter Text Here</textarea>
				<span asp-validation-for="ticket.Body" class="text-danger"></span>
			</div>
			<div class="row">
				<div class="col-2" style="gap: 1rem; display:flex; flex-direction:column">
					<div class="form-group">
						<label asp-for="ticket.RequiredHours" class="control-label"></label>
						<input asp-for="ticket.RequiredHours" class="form-control" />
						<span asp-validation-for="ticket.RequiredHours" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ticket.Project" class="control-label"></label>
						<input type="hidden" value="@Model.project.Id" name="projId" />
						<p style="font-weight: bold; display: inline">@Model.project.ProjectName</p>
						<span asp-validation-for="ticket.Project" class="text-danger"></span>
					</div>


				</div>
				<div class="col-8" style="gap: 1rem; display:flex; flex-direction:column">
					<div class="form-group">
						<label asp-for="ticket.TicketPriority" class="control-label"></label>
						<select asp-for="ticket.TicketPriority" asp-items="Html.GetEnumSelectList<Ticket.Priority>()"></select>
						<span asp-validation-for="ticket.TicketPriority" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ticket.Owner" class="control-label"></label>
						<select name="userId" asp-for="ticket.Owner" asp-items=@Model.currUsers></select>
						<span asp-validation-for="ticket.Owner" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn" style="background-color: #E4BCB9" />
			</div>


		</form>
	</div>
</div>

<div>
	<a asp-action="Index" asp-controller="Projects">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}