@model JelloTicket.DataLayer.Models.Project

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AssignedTo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                <a asp-action="RemoveAssignedUser" asp-controller="Projects" asp-route-id="@item.ApplicationUser.Id" asp-route-projId="@Model.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
                <div class="form-group">
                    <input type="hidden" value=@Model.Id name="ticketId" />
                    <label asp-for="AssignedTo" class="control-label">Select Users:</label>
                    <select name="userIds" asp-for="AssignedTo" asp-items=@ViewBag.Users></select>
                    <span asp-validation-for="AssignedTo" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
